footer.footer
  .container
    .footer__wrap
      .footer__contacts.footer-contacts
        .footer-contacts__logo
          a.logo.logo--footer(href="#")
            .logo__pic.logo__pic--footer
            .logo__description
              .logo__description-head.logo__description-head--footer Експериментаніум
              .logo__description-text.logo__description-text--footer Музей популярної науки і техніки
        .footer-contacts__subscribe.footer-subscribe 
          form.footer-subscribe__form.subscribe-form(action='', method='GET')
            label.subscribe-form__label(for='email') Підписатись на новини
            input.subscribe-form__input(type='email', value='', name='email', placeholder='Введіть е-mail', required='')
            button.subscribe-form__submit
              i.subscribe-form__icon.icon-letter-icon
        .footer-contacts__social.footer-social
          .footer-social__text МИ в соціальних мережах
          ul.footer-social__list.social-list
            li.social-list__item
              a.social-list__link(href='#')
                i.icon-facebook
            li.social-list__item
              a.social-list__link(href='#')
                i.social-list__icon.icon-twitter
            
      .footer__categories.footer-categories
        .footer-categories__row
          .footer-categories__column.category-item
            .category-item__head Експозиція та шоу
            ul.category-item__subcategories.subcategories-list
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Шоу в музеи
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Експозиція музею
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Виїздні шоу
              li.subcategories-list__item
                a.subcategories-list__link(href="#") 3Д тур 
          .footer-categories__column.category-item
            .category-item__head Новини
            ul.category-item__subcategories.subcategories-list
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Новини музею
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Новини зі світу науки
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Анонси
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Акції
          .footer-categories__column.category-item
            .category-item__head освітні програми
            ul.category-item__subcategories.subcategories-list
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Шоу в музеи
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Експозиція музею
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Виїздні шоу
              li.subcategories-list__item
                a.subcategories-list__link(href="#") 3Д тур 
          .footer-categories__column.category-item
            .category-item__head організація заходів
            ul.category-item__subcategories.subcategories-list
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Новини музею
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Новини зі світу науки
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Анонси
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Акції
        .footer-categories__row
          .footer-categories__column.category-item
            .category-item__head освітні програми
            ul.category-item__subcategories.subcategories-list
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Шоу в музеи
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Експозиція музею
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Виїздні шоу
              li.subcategories-list__item
                a.subcategories-list__link(href="#") 3Д тур 
          .footer-categories__column.category-item
            .category-item__head організація заходів
            ul.category-item__subcategories.subcategories-list
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Новини музею
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Новини зі світу науки
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Анонси
              li.subcategories-list__item
                a.subcategories-list__link(href="#") Акції
