.main
  include _header
  .main__slider#js-carousel-main.owl-carousel.owl-theme
    .main__slider-item
      .main__slider-img(style="background-image:url(images/back-main.jpg)")
      .main__slider-content
        .container
          .main__slider-date
            span.main__slider-date-big 12
            | \09\2016
          .main__slider-subtitle Лекція-експеримент
          .main__slider-title ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ ТА АТОМІВ У ПРИРОДІ.
          .main__slider-buttons
            a.main__slider-info.btn.btn--white.btn--fixed(href="#") детальніше
            a.main__slider-tickets.btn.btn--white-bg.btn--fixed(href="#") придбати квитки
    .main__slider-item
      .main__slider-img(style="background-image:url(images/main-slider.jpg)")
      .main__slider-content
        .container
          .main__slider-date
            span.main__slider-date-big 12
            | \09\2016
          .main__slider-subtitle Лекція-експеримент
          .main__slider-title Эпизод 4. Сткрытая угроза
          .main__slider-buttons
            a.main__slider-info.btn.btn--white.btn--fixed(href="#") детальніше
            a.main__slider-tickets.btn.btn--white-bg.btn--fixed(href="#") придбати квитки
