extends _common/_doctype

block title
	| Lectures-all

block content
	.wrapper
		include ./_common/_header
		include ./_pages/lectures-all/_lectures-content-all.jade
		include ./_common/_visit
	include ./_common/_footer
