extends _common/_doctype

block title
	| Lecture

block content
	.wrapper
		include ./_common/_header
		include ./_pages/lectures/_lectures-content
		include ./_common/_visit
	include ./_common/_footer
		
