section.activities
  .container
    .row
      .col-6
        .activities__row
          .activities__block.activities-item.color-box.color-box--activities.color-box--shadow-in
            .activities-item__img(style="background-image:url(images/activities-party.jpg)")
          a.activities__block.activities-item.color-box.color-box--activities.color-box--green.color-box--shadow-in(href='#')
            i.activities-item__pic.activities-item__pic--cake.icon-cake-icon
            .activities-item__head
              | святкуйте День народження 
              br
              | в музеї!
            .activities-item__text Хочете влаштувати своїй дитині по-справжньому незабутнє свято?  Тоді послуга саме для вас.
        .activities__row.activities__row--reverse
          a.activities__block.activities-item.color-box.color-box--activities.color-box--orange(href='#')
            i.activities-item__pic.activities-item__pic--lab.icon-lab-icon
            .activities-item__head «цікава хімія з волтером вайтом»
            .activities-item__text Ваша дитина полюбляє «похімічити» вдома? Приводьте її до нас, на заняття гуртка «Цікава хімія»! 
          .activities__block.activities-item.color-box.color-box--activities.color-box--shadow
            .activities-item__img(style="background-image:url(images/activities-party-two.jpg)")
