section.info
  .container
    .info__block.info-item.color-box.color-box--info.color-box--transparent
    a.info__block.info-item.color-box.color-box--info.color-box--purple(href='#')
      i.info-item__pic.info-item__pic--voice.icon-voice-icon
      .info-item__head Акции та знижки
      .info-item__slides.info-slider#js-carousel-info.owl-carousel.owl-theme
        .info-slider__item.info-item-slider
          .info-item-slider__head Активним відвідувачам дитячого табору - знижка!
          .info-item-slider__text При оплаті 5 днів перебування в дитячому таборі «Літні канікули в музеї» - знижка!
        .info-slider__item.info-item-slider
          .info-item-slider__head Активним відвідувачам дитячого табору - знижка!
          .info-item-slider__text При оплаті 5 днів перебування в дитячому таборі «Літні канікули в музеї» - знижка!
        .info-slider__item.info-item-slider
          .info-item-slider__head Активним відвідувачам дитячого табору - знижка!
          .info-item-slider__text При оплаті 5 днів перебування в дитячому таборі «Літні канікули в музеї» - знижка!
    a.info__block.info-item.color-box.color-box--info.color-box--purple.color-box--info-shadow(href='#')
      i.info-item__pic.info-item__pic--3d.icon-camera-icon
      .info-item__head 
        | 3d тур 
        br
        | експериментаниумом
      .info-item__text 
        | Уникальна мождливисть подивитись експозицию,
        br
        | не виходичи з дому
    a.info__block.info-item.color-box.color-box--info.color-box--green.color-box--info-shadow(href='#')
      i.info-item__pic.info-item__pic--tickets.icon-tickets-icon
      .info-item__head 
        | Квитки, 
        br 
        | график роботы музею
      .info-item__text
        | інформаця про розклад роботи, ціни та види квитків, 
        br
        | доступні знижки та акції
