section.lectures
  .container
    .row
      .col-6
        .lectures__list.lectures-list#js-carousel-lectures.owl-carousel.owl-theme
          .lectures-list__item.lectures-item
            .lectures-item__img
              img.lectures-item__bg-img(src="images/index.png")
            .lectures-item__info
              img.lectures-item__pic(src="images/lectures-tesla-info.jpg")
              .lectures-item__description
                .lectures-item__title ТРАНСФОРМАТОР ТЕСЛА
                .lectures-item__text 
                  | Пристрій, винайдений Ніколою Теслою, що носить його ім'я і виконаний у вигляді трансформатора, 
                  | ввімкнутого обмотками в коливальні контури, які працюють в резонансному режимі
                  | та служить для утворення високої електричної напруги (десятки кіловольт) високої частоти (зазвичай, 20...100 кГц). 
                  | Прилад було запатентовано 22 вересня 1896 року, як «Апарат для вироблення електричних струмів високої частоти і потенціалу»
                .lectures-item__buttons
                  a.lectures-item__more-btn.btn.btn--activities-more(href="#") читати далі
                  a.lectures-item__buy-btn.btn.btn--activities-buy(href="#") придбати квитки на шоу
          .lectures-list__item.lectures-item
            .lectures-item__img
              img.lectures-item__bg-img(src="images/index.png")
            .lectures-item__info
              img.lectures-item__pic(src="images/lectures-tesla-info.jpg")
              .lectures-item__description
                .lectures-item__title ТРАНСФОРМАТОР ТЕСЛА
                .lectures-item__text 
                  | Пристрій, винайдений Ніколою Теслою, що носить його ім'я і виконаний у вигляді трансформатора, 
                  | ввімкнутого обмотками в коливальні контури, які працюють в резонансному режимі
                  | та служить для утворення високої електричної напруги (десятки кіловольт) високої частоти (зазвичай, 20...100 кГц). 
                  | Прилад було запатентовано 22 вересня 1896 року, як «Апарат для вироблення електричних струмів високої частоти і потенціалу»
                .lectures-item__buttons
                  a.lectures-item__more-btn.btn.btn--activities-more(href="#") читати далі
                  a.lectures-item__buy-btn.btn.btn--activities-buy(href="#") придбати квитки на шоу
