section.news
  .container
    .row
      .col-6
        .news__slider-wrap.news-slider#js-carousel-news.owl-carousel.owl-theme
          .news-slider__item
            .news-slider__date 14/04/16
            .news-slider__text Музей 
              | «Експериментаніум» побував на допрем'єрному показі мультфільму "Норм та Незламні"
            .news-slider__hover.news-item-hover
              a(href="#").news-item-hover__more.btn.btn--white.btn--fixed Детальнише
          .news-slider__item
            .news-slider__date 14/04/16
            .news-slider__text Музей 
              | «Експериментаніум» побував на допрем'єрному показі мультфільму "Норм та Незламні"
            .news-slider__hover.news-item-hover
              a(href="#").news-item-hover__more.btn.btn--white.btn--fixed Детальнише
          .news-slider__item
            .news-slider__date 14/04/16
            .news-slider__text Музей 
              | «Експериментаніум» побував на допрем'єрному показі мультфільму "Норм та Незламні"
            .news-slider__hover.news-item-hover
              a(href="#").news-item-hover__more.btn.btn--white.btn--fixed Детальнише
          .news-slider__item
            .news-slider__date 14/04/16
            .news-slider__text Музей 
              | «Експериментаніум» побував на допрем'єрному показі мультфільму "Норм та Незламні"
            .news-slider__hover.news-item-hover
              a(href="#").news-item-hover__more.btn.btn--white.btn--fixed Детальнише
