section.lessons
  .container
    .row
      .lessons__breadcrumbs.breadcrumbs
        a.breadcrumbs__prev(href="#")
          i.icon-arrow-small
        a.breadcrumbs__link(href="#") освітні програми
        a.breadcrumbs__link.breadcrumbs__link--current(href="#") лекції
    .lessons__content
      .lessons__item.lessons-item
        .lessons-item__info
          .lessons-item__subtitle Лекція-експеримент
          .lessons-item__title ДИФУЗІЯ. ВЗАЄМОДІЯ МОЛЕКУЛ ТА АТОМІВ У ПРИРОДІ.
          .lessons-item__btn-wrap
            a.lessons-item__btn.btn.btn--white(href="#") детальніше
          .lessons-item__time Час проведення: Понеділок 12:30 
          .lessons-item__price Ціна: від 250грн.
        .lessons-item__pic(style="background-image:url(images/lesson-one.png)")
      .lessons__item.lessons-item.lessons-item--reverse
        .lessons-item__info
          .lessons-item__subtitle Лекція-експеримент
          .lessons-item__title природа магнітів. Експерименти з магнітами та залізом
          .lessons-item__btn-wrap
            a.lessons-item__btn.btn.btn--white(href="#") детальніше
          .lessons-item__time Час проведення: Понеділок 15:30 
          .lessons-item__price Ціна: від 90грн.
        .lessons-item__pic(style="background-image:url(images/lesson-two.png)")
      .lessons__item.lessons-item
        .lessons-item__info
          .lessons-item__subtitle Виставка «Світло та призма»
          .lessons-item__title Інсталяції зі світловими ефектами
          .lessons-item__btn-wrap
            a.lessons-item__btn.btn.btn--white(href="#") детальніше
          .lessons-item__time Час проведення: Середа 10:00 
          .lessons-item__price Ціна: від 300грн.
        .lessons-item__pic(style="background-image:url(images/lesson-three.png)")
