@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b1ca8k');
  src:  url('../fonts/icomoon.eot?b1ca8k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?b1ca8k') format('truetype'),
    url('../fonts/icomoon.woff?b1ca8k') format('woff'),
    url('../fonts/icomoon.svg?b1ca8k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
