$body-color: #FFF;
$text-color: #fff;
$menu-text-color: #010101;
$titles-text-color: #333333;
$accent-color: #9153cc;
$accent-color-second: #90c004;
$accent-color-third: #dd892d;
$links-color: #010101;
$common-shadow: -8.2px 26.8px 49px rgba(27, 27, 30, 0.2);
$container-width: 1220px;
$footer-height: 222px;
$titles-font: 'comfortaaregular', helvetica;
$content-font: 'Roboto', sans-serif;
$button-font: 'Roboto Condensed', sans-serif;
$text-font: 'Open Sans', sans-serif;
